#custom-track {
    position: relative;
    height: 3px;
    background: #e6e0e0;
    border-radius: 9999px;
    margin-top: 8px;
    overflow: hidden;
    transition: transform 0.2s ease;
    scroll-behavior: auto;
    width: 96%;
}
#custom-thumb {
    height: 100%;
    background: #221f1f;
    border-radius: 9999px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease;
    cursor: grab;
}
#custom-track:hover {
    transform: scaleY(2);
}
#custom-track:hover #custom-thumb, #custom-track.active #custom-thumb {
    background: #000;
}
#scrollable {
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}
#scrollable::-webkit-scrollbar {
    display: none;
}
.no-select {
    user-select: none;
}
.mobile-card {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 4s ease, transform 4s ease;
}
@media (max-width: 767px) {
    #scrollable {
        display: grid !important;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        overflow-x: hidden !important;
        gap: 1rem;
   }
    #custom-track {
        display: none !important;
   }
    .mobile-card {
        width: 100% !important;
   }
    .hidden-mobile {
        opacity: 0 !important;
        position: absolute !important;
   }
}
